/* BLOG PAGE styless */

/* BLOG POST STYLING */
.blog-hero-section {
    background-image: url(../assets/blog-post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.blog-hero-section h3 {
    font-size: 2rem;
    /* background-color: wheat; */
    padding: 1rem;
}

.blog-hero-section p {
    font-size: 1.5rem;
    /* color: #087c74; */
    background-color: white;
    width: 80%;
    text-align: center;
}

.blog-hero-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.blog-hero-section button {
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 20px;
    font-size: 1.5rem;
}

.blog-post-section {
    border: 2px solid green;
    margin-top: 4rem;
    width: 80%;
    height: 300px;
    margin-inline: auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* flex-direction: column; */
    gap: 2rem;
    margin-bottom: 2rem;

}

.blog-post {
    display: none;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 2s ease, transform 2s ease;
}

.blog-post.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.blog-post img {
    display: inline-block;
    width: 200px;
    /* height: 300px; */
}

.blog-post p {
    font-size: 12px;
}

.trend-section {
    border: 2px solid brown;
    margin-block: 2rem;
    width: 80%;
    margin-inline: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 5px;
    margin-bottom: 2rem;
}

#pagination button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: beige;
    transition: all 0.3s ease-in;
}

#pagination button:hover,
#pagination button:active {
    background-color: rgb(2, 2, 70);
    color: white;
}

.newsletter-section {
    background-color: rgb(12, 12, 54);
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

.newsletter-section input {
    /* font-size: 8px; */
    padding-inline: 16px;
    padding-block: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.newsletter-section button {
    padding: 10px;
    color: white;
    background-color: #087c74;
    border: none;
    border-radius: 5px;
}

@media (max-width: 399px) {
    .blog-post-section {
        display: flex;
        flex-direction: column;
        height: unset;
        justify-content: center;
        align-items: center;
    }

    .newsletter-section {
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }
    
}