:root{
    --main-color-one: #000000;
    --main-color-two: #087c74;
    --para-color: gray;
    --cards-box-shadow: ;
    --header-background: rgba(223, 221, 221, 0.842);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body{
    position: relative;
} */


/* Header Styling */
header{
    width: 100%;
    height: 85px;
    background-color: var(--header-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.header-content{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    flex-basis: 45%;
}

.logo a, .footer-card-one a{
    text-decoration: none;
    color: var(--main-color-one);
    font-weight: 700;
    text-shadow: 4px 4px 5px var(--main-color-one);
}
.logo a span, .footer-card-one a span{
    color: var(--main-color-two);
    text-shadow: 4px 4px 5px var(--main-color-one);
}

.logo a i, .footer-card-one i{
    font-size: 1.5rem;
    color: var(--main-color-two);
    padding-left: .3em;
}

.nav-links{
    flex-basis: 33%;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: var(--main-color-one);
    font-weight: 600;
}

ul li a:hover{
    color: var(--main-color-two);
}

.toggle-menu{
    display: none;
}

#close{
    display: none;
}

/* HERO SECTION STYLING */

.hero-section{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(180deg,
    rgba(0,0,0,0.1) 0%,
    rgba(0,0,0,0.1) 100%),
                            url("../assets/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.hero-section h2{
    padding-top: 13%;
    padding-left: 6%;
}

.hero-section h1{
    font-size: 3.5rem;
    letter-spacing: .8pt;
    padding-left: 6%;
}

.hero-section h1 span{
    color: var(--main-color-two);
}

.hero-section p{
    padding-top: .5em;
    padding-left: 6%;
    color: gray;
    font-size: 1.2rem;
}

.hero-section a{
    text-decoration: none;
    color: var(--main-color-two);
    padding: .8em;
    margin-left: 7.5%;
    margin-top: 1em;
    text-align: center;
    width: 120px;
    background-image: url("../assets/shop-now.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 700;
}
/* Feature Section styling */

#feature-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3.5em;
}

.feature-card-container{
    width: 90%;
    display: flex;
    gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-card{
    width: 210px;
    height: 230px;
    box-shadow: 0 2px 24px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2em;
    cursor: pointer;
}

.feature-card h4{
    color: blue;
    background-color: pink;
    padding: .3em .5em;
    border-radius: 5px;
    font-weight: 500;
}

/* Featured Product / New Arrival Section Styling */

.featured-products, .new-arrival-products{
    width: 100%;
    display: flex;
    justify-content: center;
}

#products, #new-products{
    width: 90%;
    text-align: center;
}

#products h1, #new-products h1{
    padding-top: 1.5em;
    font-size: 3.2rem;
    font-weight: 700;
}

#products > p, #new-products > p{
    color: gray;
    padding: .5em 0 3em 0;
    font-size: 1.1rem;
}

.product-container, .new-product-container{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

/* Js product styling */

.product-card{
    width: 280px;
    margin-bottom: 2em;
    border-radius: 20px;
    border: 1px solid var(--header-background);
    cursor: pointer;
    transition: .2s;
}

.product-card:hover{
    box-shadow: 0 2px 24px rgba(0,0,0,0.2);
    h3{
        color: var(--main-color-two);
    }
}

#card-content{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-card img{
    width: 100%;
    margin: auto;
    padding: .7em 0;
    border-radius: 20px;

}

#card-content #price-cart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: .6em 0;
}

#card-content p{
    color: gray;
}

#price-cart h3{
    text-align: left;
}

#price-cart h3 span i{
    color: gold;
    font-size: 1rem;
}

#price-cart a{
    text-decoration: none;
    color: var(--main-color-two);
    margin-top: 1em;
}

#price-cart a i{
    padding: .7em;
    border-radius: 50%;
    font-size: 1rem;
    background-color: var(--header-background);
    transition: .3s;
}

#price-cart a i:hover{
    background-color: var(--main-color-two);
    color: white;
}

/* Product Description Styling */

#product-modal{
    display: none;
    width: 70%;
    justify-content: center;
    /* align-items: center; */
    background-color: #f5f5f5;
    position: fixed;
    top: 20%;
    left: 15%;
    box-shadow: 0 0 15px;
}

.modal-images{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


#main-product-img{
    width: 100%;
}

.modal-images{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


#main-product-img{
    width: 100%;
}
/* .modal-images img{
    width: 200px;
    height: 200px;
} */

.product-colors{
    display: flex;
    justify-content: space-evenly;
}

.item-color{
    margin-bottom: .8em;
    width: 23.5%;
    cursor: pointer;
}

.modal-description{
    width: 60%;
    height: 100%;
    padding: 2em;
}

.modal-description #item-category, .modal-description h3{
    font-weight: 700;
    padding-bottom: 2em;
}

.modal-description h2{
    padding-bottom: .4em;
}

.modal-description select{
    margin-bottom: .5em;
}

.modal-description a{
    padding: .6em 1.5em;
    background-color: var(--main-color-two);
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.modal-description h4{
    padding: 2em 0 1.2em 0;
}

#cancel-btn{
    position: absolute;
    top: 2%;
    right: 2%;
    padding: .7em;
    border-radius: 50%;
    font-size: 1rem;
    background-color: var(--header-background);
    transition: .3s;
    color: var(--main-color-two);
    cursor: pointer;
}


/* Call To Action Section Styling */

.cta-section{
    width: 100%;
    height: 300px;
    margin-top: 4em;
    text-align: center;
    background-image: url("../assets/cta-section.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cta-section p{
    padding: 3.5em 0 1em 0;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
}

.cta-section h1{
    color: white;
    padding-bottom: 1em;
}

.cta-section h1 span{
    color: red;
}

.cta-section a{
    text-decoration: none;
    padding: .8em 1.5em;
    background-color: white;
    color: black;
    font-weight: 700;
    transition: .3s;
}

.cta-section a:hover{
    color: white;
    background-color: var(--main-color-two);
}

/* Seasonal Section Styling */

.seasonal-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.seasonal-content{
    width: 90%;
    display: flex;
    gap: 1%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.upper-cards{
    flex-basis: 49%;
    height: 350px;
    margin-bottom: 2.5em;
    color: white;
}

.seasonal-head{
    padding: 6em 0 0 3em;
}

.upper-cards h2{
    padding-left: 2em;
}

.seasonal-p{
    padding: .5em 0 1.5em 3em;
}

.upper-cards a{
    margin-left: 3em;
    text-decoration: none;
    padding: .7em 1.2em;
    border: 1px solid white;
    color: white;
    font-weight: 600;
    transition: .2s;
}

.upper-cards a:hover{
    background-color: var(--main-color-two);
    border: none;
}

.upper-one{
    background-image: url("../assets/assortment-t-shirts\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.upper-two{
    background-image: url("../assets/flat-lay-woman-style-accessories-red-knitted-sweater-checkered-shirt-denim-jeans-black-leather-boots-hat-autumn-fashion-trend-view-from-vintage-photo-camera-passport\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower-cards{
    flex-basis: 32%;
    height: 250px;
    margin-bottom: 3em;
    color: white;
}

.lower-cards h2{
    padding: 2.5em 0 .3em 1.5em;
}

.lower-cards p{
    padding-left: 2.5em;
    color: red;
    font-weight: 600;
}

.lower-one{
    background-image: url("../assets/6671\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower-two{
    background-image: url("../assets/womens-clothes-accessories\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lower-three{
    background-image: url("../assets/cta-section.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* News Letter Section */

.news-letter-section{
    width: 100%;
    height: 180px;
    background-color: rgb(5, 5, 82);
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-letter-content{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#sign-up-news h2{
    color: white;
    padding-bottom: .6em;
}

#sign-up-input{
    display: flex;
    justify-content: flex-start;
}

#sign-up-input input{
    padding: 1em 6em;
    outline: none;
    border: none;
    text-align: left;
}

#sign-up-input input::placeholder{
    color: gray;
    font-size: 1rem;
}

#sign-up-input a{
    text-decoration: none;
    padding: .7em 1.5em;
    background-color: var(--main-color-two);
    color: white;
}




/* Footer Styling */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 85%;
    display: flex;
    gap: 1.5em;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3em;
}

.footer-card-one{
    flex-basis: 30%;
}

.footer-card-one p span{
    font-weight: 600;
}

.footer-card-two{
    flex-basis: 18%;
}

.footer-card p{
    padding-top: .5em;
}

.footer-card h3{
    padding: 1em 0;
}

.footer-card p a{
    text-decoration: none;
    color: gray;
}

.footer-card-three{
    flex-basis: 18%;
}

.footer-card-four{
    flex-basis: 28%;
}

#Download, #Payment{
    padding-top: 1.5em;
}

footer > #copy-right{
    text-align: center;
    color: gray;
    padding: 1.5em 0;
}

.Follow{
    padding: 1em 0;
}

#socials{
    text-shadow: none !important;
}


/* Medie Queries for Tablets and Mobile Devices */


/* Tablet  */
@media only screen and (max-width: 991.98px) {
    :root{
        font-size: 16px;
    }


    .toggle-menu{
        display: block;
        flex-basis: 25%;
    }

    .toggle-menu a{
        text-decoration: none;
        color: var(--main-color-one);
        font-size: 2.3rem;
        margin: 0 .5em 0 40%;
    }

    .toggle-menu i{
        color: var(--main-color-one);
        font-size: 2.3rem;
    }

    .nav-links{
        display: none;
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 2rem;
        background-color: var(--header-background);
    }
    .nav-links ul{
        flex-direction: column;
        gap: 1.6em;
        padding: 1.8em;
    }

    #menus.active{
        display: block;
        transition: .3s;
    }

    #close{
        display: block;
        padding: 1.8em 0 0 1.5em;
        font-size: 2.2rem;
    }

    .hero-section{
        height: 65vh;
    }

    .hero-section h2{
        padding-top: 40%;
    }

    .feature-card-container{
        width: 100%;
    }

    .feature-card{
        width: 175px;
        height: 200px;
    }

    /* Product Section Styling(Mobile) */
    .product-container, .new-product-container{
        width: 100%;
        gap: 1em;
    }

    .product-card{
        width: 210px;
    }

    /* Seasonal Section Styling (Mobile) */

    .seasonal-section{
        font-size: 16px;
    }
    .upper-cards{
        flex-basis: 100%;
        height: 350px;
    }

    .lower-cards{
        flex-basis: 100%;
    }

    /* NewsLetter Section Styling */

    .news-letter-content{
        width: 95%;
        flex-direction: column;
        gap: 1.5em;
        justify-content: space-between;
    }

    /* modal styling */

    #product-modal{
        width: 90%;
        margin: auto;
        top: 10%;
        left: 6%;
    }

    .modal-images{
        width: 100%;
        height: auto;
    }

    .modal-description{
        width: 100%;
        padding: 1em;
    }

    .modal-description #item-category, .modal-description h3{
        padding-bottom: 1em;
    }

    .modal-description h4{
        padding: 1em 0 1em 0;
    }

    #cancel-btn{
        position: absolute;
        top: 2%;
        right: 2%;
    }

}

/* Small Devices */
@media only screen and (max-width: 767.98px) {

    :root{
        font-size: 13px;
    }

    .nav-links{
        width: 70%;
        height: 100vh;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.8rem;
        background-color: var(--header-background);
        transition: .3s;
    }
    .nav-links ul{
        flex-direction: column;
        gap: 1.2em;
        padding: 1.5em;
    }

    .toggle-menu{
        display: block;
        flex-basis: 40%;
    }

    .toggle-menu a{
        text-decoration: none;
        color: var(--main-color-one);
        font-size: 2.3rem;
    }

    .toggle-menu i{
        color: var(--main-color-one);
        font-size: 2.3rem;
    }

    #menus.active{
        display: block;
    }

    #close{
        display: block;
        padding: 1.8em 0 0 1.5em;
        font-size: 2.2rem;
    }

    .hero-section{
        height: 65vh;
    }

    .hero-section h2{
        padding-top: 40%;
    }

    .feature-card-container{
        width: 100%;
    }

    .feature-card{
        width: 170px;
        height: 200px;
    }

    /* Product Section Styling(Mobile) */
    .product-container, .new-product-container{
        width: 100%;
        gap: 1em;
    }

    .product-card{
        width: 175px;
    }

    /* Seasonal Section Styling (Mobile) */

    .seasonal-section{
        font-size: 16px;
    }
    .upper-cards{
        flex-basis: 100%;
        height: 350px;
    }

    .lower-cards{
        flex-basis: 100%;
    }

    /* NewsLetter Section Styling */

    .news-letter-content{
        width: 95%;
        flex-direction: column;
        gap: 1.5em;
        justify-content: space-between;
    }

    /* Product Modal */
    #product-modal{
        width: 90%;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: .5%;
        left: 5%;
    }

    .modal-images{
        width: 100%;
        height: auto;
    }

    .modal-description{
        width: 100%;
        padding: 1em;
    }

    .modal-description #item-category, .modal-description h3{
        padding-bottom: .6em;
    }

    .modal-description h4{
        padding: .8em 0 .8em 0;
    }

    #cancel-btn{
        position: absolute;
        top: 2%;
        right: 2%;
    }

    /* Footer Styling */

    .footer-card-one, .footer-card-fourr{
        flex-basis: 80%;
    }

    .footer-card-three, .footer-card-two{
        flex-basis: 40%;
    }
}

/* Extra Small Devices */
@media only screen and (max-width: 399.8px) {

    :root{
        font-size: 11px;
    }

    .nav-links{
        display: none;
    }

    .toggle-menu{
        display: block;
        flex-basis: 40%;
    }

    .toggle-menu a{
        text-decoration: none;
        color: var(--main-color-one);
        font-size: 2.3rem;
        margin-right: .5em;
    }

    .toggle-menu i{
        color: var(--main-color-one);
        font-size: 2.3rem;
    }

    .hero-section{
        height: 65vh;
    }

    .hero-section h2{
        padding-top: 38%;
    }

    .feature-card-container{
        width: 100%;
    }

    .feature-card{
        width: 155px;
        height: 200px;
    }

    /* Product Section Styling(Mobile) */
    .product-container, .new-product-container{
        width: 100%;
        gap: 1em;
    }

    .product-card{
        width: 155px;
    }

    /* CTA Section */

    .cta-section{
        width: 100%;
        height: 280px;
        font-size: 1.2rem;
    }

    /* Seasonal Section Styling (Mobile) */

    .seasonal-section{
        font-size: 16px;
    }
    .upper-cards{
        flex-basis: 100%;
        height: 350px;
    }

    .lower-cards{
        flex-basis: 100%;
    } 

    /* NewsLetter Section Styling */

    .news-letter-content{
        width: 95%;
        flex-direction: column;
        gap: 1.5em;
        justify-content: space-between;
    }

    #sign-up-input input{
        padding: 1em 4em;
    }

    /* Product Modal */

    #product-modal{
        flex-direction: column;
    }

    #cancel-btn{
        position: absolute;
        top: 2%;
        right: 2%;
    }


}



